@mixin clearFix {
	&::after {
		content: '';
		display: table;
		clear: both;
	}
}

@mixin absoluteCenter {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@mixin hideElement {
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
}

@mixin showElement {
	visibility: visible;
	opacity: 1;
	pointer-events: auto;
}
