$color-primary: hsl(140, 49%, 55%);
$color-primary-light: hsl(111, 55%, 64%);
$color-primary-dark: hsl(160, 64%, 43%);

$color-white: hsl(0, 0%, 100%);
$color-dark-gray: hsl(0, 0%, 47%);
$color-black: hsl(0, 0%, 0%);
