.popup {
	height: 100vh;
	width: 100%;

	position: fixed;
	top: 0;
	left: 0;

	background-color: rgba($color-black, 0.4);
	backdrop-filter: blur(5px);

	transition: all 0.3s ease;

	z-index: 99999;

	@include hideElement();

	&__content {
		width: 75%;
		background-color: $color-white;
		box-shadow: 0 2rem 4rem rgba($color-black, 0.2);
		border-radius: 0.3rem;

		@include absoluteCenter();

		display: table;

		overflow: hidden;

		@include hideElement();
		transform: translate(-50%, -50%) scale(0.5);

		transition: all 0.5s ease;
		transition-delay: 0.2s;
	}

	&__left {
		width: 33.333333333%;

		display: table-cell;
		vertical-align: middle;
	}

	&__right {
		width: 66.666666667%;

		display: table-cell;
		vertical-align: middle;

		padding: 3rem 5rem;
	}

	&__img {
		display: block;
		width: 100%;
	}

	&__text {
		font-size: 1.4rem;

		column-count: 2;
		column-gap: 4rem;
		column-rule: 1px solid $color-grey-light-2;

		-moz-hyphens: auto;
		-ms-hyphens: auto;
		-webkit-hyphens: auto;
		hyphens: auto;
	}

	&:target {
		@include showElement();
	}

	&:target > &__content {
		@include showElement();
		transform: translate(-50%, -50%) scale(1);
	}

	&__close {
		&,
		&:link,
		&:visited {
			display: inline-block;

			font-size: 3rem;
			text-decoration: none;
			color: $color-grey-dark-1;
			line-height: 1;

			position: absolute;
			top: 2.5rem;
			right: 2.5rem;

			transition: color 0.3s;
		}

		&:hover {
			color: $color-primary;
		}
	}
}
