*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	box-sizing: border-box;

	scroll-behavior: smooth;
	overflow-x: hidden;

	font-size: 62.5%;

	@include respond(big-screen) {
		font-size: 75%;
	}

	@include respond(tab-land) {
		font-size: 56.25%;
	}

	@include respond(tab-port) {
		font-size: 50%;
	}
}

body {
	padding: 3rem;

	overflow-x: hidden;

	@include respond(tab-port) {
		padding: 0;
	}
}

*:focus {
	outline: none;
	box-shadow: 0 0 0 1rem rgba($color-white, 0.4);
}

.link-img:focus {
	outline: 2px solid rgba($color-white, 0.2);
	box-shadow: none;
}
