*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: $default-rem-size;

	box-sizing: border-box;

	scroll-behavior: smooth;
}

body {
	padding: 3rem;
}

*:focus {
	outline: none;
	box-shadow: 0 0 0 1rem rgba($color-white, 0.4);
}

.link-img:focus {
	outline: 2px solid rgba($color-white, 0.2);
	box-shadow: none;
}
