.u-center-text {
	text-align: center !important;
}

.u-margin-bottom-s {
	margin-bottom: 1.5rem !important;
}

.u-margin-bottom-m {
	margin-bottom: 4rem !important;
}

.u-margin-bottom-ml {
	margin-bottom: 6rem !important;
}

.u-margin-bottom-l {
	margin-bottom: 8rem !important;
}

.u-margin-top-l {
	margin-top: 8rem !important;
}

.u-margin-top-xl {
	margin-top: 10rem !important;
}
